:root {
  --main-background-color: #040714;
  --main-text-color: #f9f9f9;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: "Maven Pro", sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 17px;
    color: #f9f9f9;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 15px;
  }
}
